trunk/WebRepository_WebModule/src/main/java/org/cz/muni/fi/pb138/webrep_A/test_data/wsdl/HCSProvisionSubscriber.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions targetNamespace="http://www.cisco.hcs.com/HCSProvisionSubscriber/WSDL" xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdltns="http://www.cisco.hcs.com/HCSProvisionSubscriber/WSDL" xmlns:prov="http://www.cisco.hcs.com/HCSProvision.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

<xs:schema targetNamespace="http://www.cisco.hcs.com/HCSProvision.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:import namespace="http://www.cisco.hcs.com/HCSProvision.xsd" schemaLocation="HCSProvision.xsd"/>

</xs:schema>

</types>

<message name="submitSubscriberOrderResponse">

<part name="submitSubscriberOrderReturn" element="prov:SubmitSubscriberOrderResponse"/>

</message>

<message name="listOrderResponse">

<part name="listOrderReturn" element="prov:ListOrderResponse"/>

</message>

<message name="createSubscriberResponse">

<part name="createSubscriberReturn" element="prov:CreateSubscriberResponse"/>

</message>

<message name="listSubscriberProductResponse">

<part name="listSubscriberProductReturn" element="prov:ListSubscriberProductResponse"/>

</message>

<message name="listSubscriberResponse">

<part name="listSubscriberReturn" element="prov:ListSubscriberResponse"/>

</message>

<message name="listOrderRequest">

<part name="request" element="prov:ListOrderRequest"/>

</message>

<message name="submitSubscriberOrderRequest">

<part name="request" element="prov:SubmitSubscriberOrderRequest"/>

</message>

<message name="updateSubscriberRequest">

<part name="request" element="prov:UpdateSubscriberRequest"/>

</message>

<message name="listSubscriberRequest">

<part name="request" element="prov:ListSubscriberRequest"/>

</message>

<message name="listSubscriberProductRequest">

<part name="request" element="prov:ListSubscriberProductRequest"/>

</message>

<message name="updateSubscriberResponse">

<part name="updateSubscriberReturn" element="prov:UpdateSubscriberResponse"/>

</message>

<message name="deleteSubscriberRequest">

<part name="request" element="prov:DeleteSubscriberRequest"/>

</message>

<message name="deleteSubscriberResponse">

<part name="deleteSubscriberReturn" element="prov:DeleteSubscriberResponse"/>

</message>

<message name="createSubscriberRequest">

<part name="request" element="prov:CreateSubscriberRequest"/>

</message>

<portType name="ProvisionSubscriberPortType">

<operation name="createSubscriber">

<input message="wsdltns:createSubscriberRequest"/>

<output message="wsdltns:createSubscriberResponse"/>

</operation>

<operation name="submitSubscriberOrder">

<input message="wsdltns:submitSubscriberOrderRequest"/>

<output message="wsdltns:submitSubscriberOrderResponse"/>

</operation>

<operation name="updateSubscriber">

<input message="wsdltns:updateSubscriberRequest"/>

<output message="wsdltns:updateSubscriberResponse"/>

</operation>

<operation name="deleteSubscriber">

<input message="wsdltns:deleteSubscriberRequest"/>

<output message="wsdltns:deleteSubscriberResponse"/>

</operation>

<operation name="listSubscriber">

<input message="wsdltns:listSubscriberRequest"/>

<output message="wsdltns:listSubscriberResponse"/>

</operation>

<operation name="listOrder">

<input message="wsdltns:listOrderRequest"/>

<output message="wsdltns:listOrderResponse"/>

</operation>

<operation name="listSubscriberProduct">

<input message="wsdltns:listSubscriberProductRequest"/>

<output message="wsdltns:listSubscriberProductResponse"/>

</operation>

</portType>

<binding name="ProvisionSubscriberBinding" type="wsdltns:ProvisionSubscriberPortType">

<SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

<operation name="createSubscriber">

<SOAP:operation soapAction="http://www.ProvisionSubscriber.com/createSubscriber"/>

<input>

<SOAP:body use="literal"/>

</input>

<output>

<SOAP:body use="literal"/>

</output>

</operation>

<operation name="submitSubscriberOrder">

<SOAP:operation soapAction="http://www.ProvisionSubscriber.com/submitSubscriberOrder"/>

<input>

<SOAP:body use="literal"/>

</input>

<output>

<SOAP:body use="literal"/>

</output>

</operation>

<operation name="updateSubscriber">

<SOAP:operation soapAction="http://www.ProvisionSubscriber.com/updateSubscriber"/>

<input>

<SOAP:body use="literal"/>

</input>

<output>

<SOAP:body use="literal"/>

</output>

</operation>

<operation name="deleteSubscriber">

<SOAP:operation soapAction="http://www.ProvisionSubscriber.com/deleteSubscriber"/>

<input>

<SOAP:body use="literal"/>

</input>

<output>

<SOAP:body use="literal"/>

</output>

</operation>

<operation name="listSubscriber">

<SOAP:operation soapAction="http://www.ProvisionSubscriber.com/listSubscriber"/>

<input>

<SOAP:body use="literal"/>

</input>

<output>

<SOAP:body use="literal"/>

</output>

</operation>

<operation name="listOrder">

<SOAP:operation soapAction="http://www.ProvisionSubscriber.com/listOrder"/>

<input>

<SOAP:body use="literal"/>

</input>

<output>

<SOAP:body use="literal"/>

</output>

</operation>

<operation name="listSubscriberProduct">

<SOAP:operation soapAction="http://www.ProvisionSubscriber.com/listSubscriberProduct"/>

<input>

<SOAP:body use="literal"/>

</input>

<output>

<SOAP:body use="literal"/>

</output>

</operation>

</binding>

<service name="ProvisionSubscriberService">

<port name="ProvisionSubscriberPort" binding="wsdltns:ProvisionSubscriberBinding">

<SOAP:address location="$$$update this with the actual address before using$$$"/>

</port>

</service>

</definitions>

